In [3]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

series_obj = Series(np.arange(10), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6','row 7', 'row 8', 'row 9', 'row 10'])
series_obj

series_obj['row 7']
series_obj[[0, 7]]

C:\Users\lukew\AppData\Local\Temp\ipykernel_19792\2078308363.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int32

In [5]:

np.random.seed(25)

# Search random.seed in Python and provide an explaniation here: ...
# What does seed function do?
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [6]:
series_obj['row 3': 'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int32

In [7]:
series_obj.loc[['row 1', 'row 5', 'row 8']] = 8
series_obj

row 1     8
row 2     1
row 3     2
row 4     3
row 5     8
row 6     5
row 7     6
row 8     8
row 9     8
row 10    9
dtype: int32

: