In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
DF_obj= DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a','b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'C', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [3]:
DF_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [4]:
DF_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [6]:
orders_df = DataFrame({'OrderID':[101,102,103,104,105],
                   'CustomerID':['A100', 'A101','A100', 'A102', 'A103'],
                   'Product':['Laptop', 'Smartphone', 'Laptop', 'Tablet', 'Smartphone']})
orders_df

   OrderID CustomerID     Product
0      101       A100      Laptop
1      102       A101  Smartphone
2      103       A100      Laptop
3      104       A102      Tablet
4      105       A103  Smartphone

In [7]:
orders_df.duplicated(['OrderID', 'CustomerID'])

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [8]:
orders_df.duplicated(['CustomerID'])

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [9]:
orders_df.drop_duplicates(['CustomerID'])

   OrderID CustomerID     Product
0      101       A100      Laptop
1      102       A101  Smartphone
3      104       A102      Tablet
4      105       A103  Smartphone

: