In [1]:
import pandas

df = pandas.read_csv('/Users/lukew/Documents/Year 3/AI/Session 4/Lab 3 dataset.csv')

print(df)

    Age  Experience  Rank Nationality   Go
0    36          10     9          UK   NO
1    42          12     4         USA   NO
2    23           4     6           N   NO
3    52           4     4         USA   NO
4    43          21     8         USA  YES
5    44          14     5          UK   NO
6    66           3     7           N  YES
7    35          14     9          UK  YES
8    52          13     7           N  YES
9    35           5     9           N  YES
10   24           3     5         USA   NO
11   18           3     7          UK  YES
12   45           9     9          UK  YES

In [2]:
d = {'UK': 0, 'USA': 1, 'N': 2}
df['Nationality'] = df['Nationality'].map(d)

from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df['Go'] = le.fit_transform(df['Go'])

print(df)

    Age  Experience  Rank  Nationality  Go
0    36          10     9            0   0
1    42          12     4            1   0
2    23           4     6            2   0
3    52           4     4            1   0
4    43          21     8            1   1
5    44          14     5            0   0
6    66           3     7            2   1
7    35          14     9            0   1
8    52          13     7            2   1
9    35           5     9            2   1
10   24           3     5            1   0
11   18           3     7            0   1
12   45           9     9            0   1

In [3]:
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [4]:
features = ['Age', 'Experience', 'Rank', 'Nationality']
X = df[features]
y = df['Go']

X.shape

(13, 4)

In [5]:
y.shape

(13,)

In [6]:
X.describe()

             Age  Experience       Rank  Nationality
count  13.000000   13.000000  13.000000    13.000000
mean   39.615385    8.846154   6.846154     0.923077
std    13.263600    5.727800   1.908147     0.862316
min    18.000000    3.000000   4.000000     0.000000
25%    35.000000    4.000000   5.000000     0.000000
50%    42.000000    9.000000   7.000000     1.000000
75%    45.000000   13.000000   9.000000     2.000000
max    66.000000   21.000000   9.000000     2.000000

In [7]:
y.describe()

count    13.000000
mean      0.538462
std       0.518875
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: Go, dtype: float64

In [8]:
clf = LogisticRegression()
clf = clf.fit(X.values, y)

In [9]:
print(clf.predict([[40, 10, 7, 1]]))

[1]

In [10]:
print(clf.predict_proba([[40, 10, 7, 1]]))

[[0.41174268 0.58825732]]

: